.card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: auto;
  grid-gap: 20px;
}

/* @media(min-width: 764px){
  .card-list{
    margin: 0 auto;
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(min-width: 1024px){
  .card-list{
    margin: 0 auto;
    width: 60%;
    grid-template-columns: 1fr 1fr 1fr;
  }
} */


